.alert
  グループを作成しました
.contents
  .side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          yohei
        %ul.side-header__box__menu
          %li.side-header__box__menu--make-group
            = link_to "/" do
              = fa_icon 'edit', class: 'icon'
          %li.side-header__box__menu--edit-account
            = link_to "/" do
              = fa_icon 'cog', class: 'icon'
    .side-groups
      .side-group
        .side-group__name
          新しいグループ
        .side-group__message
          新しいコメント
      .side-group
        .side-group__name
          新しいグループ
        .side-group__message
          新しいコメント
  .main
    .main-header
      .main-header__group-info
        .main-header__group-info__name
          Group name
        %ul.main-header__group-info__members
          Member :
          %li.main-header__group-info__member
            member1
          %li.main-header__group-info__member
            member2
      .main-header__edit-btn
        Edit
    .main-messages
      .main-message
        .main-message__info
          .main-message__info__name
            member1
          .main-message__info__date
            2019/01/01(Wed) 19:00:00
        .main-message__text
          コメント、コメント、コメント、コメント、コメント、コメント、コメント、コメント
        .main-message__image
      .main-message
        .main-message__info
          .main-message__info__name
            member2
          .main-message__info__date
            2019/01/01(Wed) 20:00:00
        .main-message__text
          コメント、コメント、コメント、コメント、コメント、コメント、コメント、コメント
        .main-message__image
    .main-form
      .main-form__message
        .main-form__message__text
          // 入力フォームに変更
          Type a message
        =link_to "/", class: "main-form__message__image" do
          = fa_icon 'image', class: "main-form__message__image--icon"
      .main-form__send-btn
        Send


