.contents
  = render partial: "shared/side"
  .main
    .main-header
      .main-header__group-info
        .main-header__group-info__name
          Group name
        %ul.main-header__group-info__members
          Member :
          - @group.users.each do |user|
            = render partial: "messages/member-name", locals: { user: user }
      .main-header__edit-btn
        = link_to "Edit", edit_group_path(@group), class: "main-header__edit-btn__link"
    .main-messages
      = render @messages
    .main-form
      = form_for [@group, @message], html: { class: "main-form__message" } do |f|
        .main-form__message__box
          = f.text_field :content, class: "main-form__message__box__text", placeholder: "type a message"
          = f.label :image, class: "main-form__message__box__image" do
            = fa_icon "image", class: "main-form__message__box__image__icon"
            = f.file_field :image, class: "main-form__message__box__image__file"
        = f.submit "Send", class: "main-form__message__send-btn"